<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>
    <h1><%= title %></h1>
    <p>Unauthorized access</p>
</body>
<%- include("../partials/footer.ejs") %>

</html>