<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">

<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <form action="/userapi">
    <div class="container fields">
      <label for="username"><b>Utente</b></label>
      <br>
      <input type="text" placeholder="Inserire Nome Utente" name="username" required>
      <br>
      
      <label for="password"><b>Password</b></label>
      <br>
      <input type="password" placeholder="Inserire Password" name="password" required>
      <br>
      
      <button type="submit" style="width: 40%;">Accedi</button>
      
      <label  style="display: flex;">
        <input type="checkbox" checked="checked" name="remember"> Ricordami
      </label>

      <div id="login-feedback"></div>
    </div>

  </form>
</body>
<script src="/JS/login.js"></script>
<%- include('../partials/footer.ejs') %>
</html>