<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">

<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <form action="/userapi">
    <div class="container fields">
      <!-- <label for="username"><b>Utente</b></label>
      <input type="text" placeholder="Inserire Nome Utente" name="username" required>
      
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Inserire Password" name="password" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember"> Ricordami
      </label> -->
      <button type="submit">Salva</button>
      <div id="save-feedback"></div>
    </div>

  </form>
</body>
<!-- <script src="/JS/login.js"></script> -->
<%- include('../partials/footer.ejs') %>
</html>