<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">

<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <form action="/api/auth/signup">
    <div class="container fields">
      <label for="username"><b>Utente</b></label>
      <input type="text" placeholder="Inserire Nome Utente" name="username" required>
      
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Inserire Password" name="password" required>
      
      <dim>
        <label><b>Policy:<br></b></label>
        <input type="checkbox" name="administrator"> Amministratore
        <a> | </a>
        <input type="checkbox" name="createuser"> Creazione Utenti
        <a> | </a>
        <input type="checkbox" name="manageruser"> Gestione Utenti
        <a> | </a>
        <input type="checkbox" checked="checked" name="user"> Utente
        <a> | </a>
        <input type="checkbox" name="readreportsecret"> Lettura Rapporti Secretati
        <a> | </a>
        <input type="checkbox" name="readreport"> Lettura Rapporti
        <a> | </a>
        <input type="checkbox" name="writereport"> Scrittura Rapporti
        <a> | </a>
        <input type="checkbox" name="writearticles"> Scrittura Articoli 
        <a> | </a>
        <input type="checkbox" name="writesafenet"> Scrittura SafeNet
        <a> | <br></a>
        <input type="checkbox" name="teacher"> Insegnante Accademia 
        <a> | </a> 
        <input type="checkbox" name="student"> Studente Accademia 
        <a> | </a>
      </dim>
      <button type="submit">Registra</button>

      <div id="signup-feedback"></div> 
    </div>

  </form>
</body>
<script src="/JS/signup.js"></script>
<%- include('../partials/footer.ejs') %>
</html>