<footer>
	<div class="container-fluid bg-dark" style="text-align: center; padding-top: 12px; padding-bottom: 12px; margin-top: 50px;">
		<p style="margin-bottom: 0px;">Copyright © 2023 Bootcamp</p>
	</div>
</footer>