<% const checkPolicy = (policy = []) => {
	var check = false;
	policy.forEach(p => {
		if (userPolicy.includes(p)) check = true;
	});
	return check;
} %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a href="/" class="navbar-brand"><img src="/IMAGE/LogoBootcamp.png" width="40px" height="40px"></a>

		<div class="d-block d-md-none ms-auto pe-1">
			<% if (auth) { %>
				<button class="btn btn-outline-dark active" data-bs-toggle="dropdown">
					<i class="bi bi-person"></i>
				</button>

				<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
					<li><h6 class="dropdown-header"><%= username %></h6></li>
					<li><a class="dropdown-item" href="/auth/settings/<%= userID %>">Impostazioni</a></li>
					<li><a class="dropdown-item" href="/auth/logout">Esci</a></li>
				</ul>
			<% } else { %>

			<% } %>
		</div>

		<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav">
			<div class="navbar-toggler-icon"></div>
		</button>

		<div class="collapse navbar-collapse" id="nav">
			<ul class="navbar-nav">
				<!--Start-->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">Informazioni sul progetto</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/arruolati">Arruolati</a></li>
						<li><a class="dropdown-item" href="/arruolati/faq">FAQ</a></li>
						<li><a class="dropdown-item" href="/arruolati/regolamento">Regolamento</a></li>
						<li><a class="dropdown-item" href="/arruolati/progetto">Il Progetto</a></li>
					</ul>
				</li>
				<!--News-->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">Articoli</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/news">Notizie</a></li>
						<li><a class="dropdown-item" href="/news/eventi">Storico Eventi</a></li>
						<% if (auth && (isAdmin || checkPolicy(["readreport", "readreportsecret"]))) { %>
						<li><a class="dropdown-item" href="/news/rapporti">Rapporti</a></li>
						<% } %>
						<li><a class="dropdown-item" href="/news/safenet">SafeNet Radio</a></li>
						<li><a class="dropdown-item" href="/news/navi">Forum Navi</a></li>
					</ul>
				</li>
				<!--Accademia-->
				<% if (auth && (isAdmin || checkPolicy(["teacher", "student"]))) { %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">Accademia</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/accademia">Home accademia</a></li>
						<li><a class="dropdown-item" href="/accademia/ingegneria">Ingegneria</a></li>
						<li><a class="dropdown-item" href="/accademia/militare">Militare</a></li>
						<li><a class="dropdown-item" href="/accademia/tattica">Tattica</a></li>
						<li><a class="dropdown-item" href="/accademia/scripts">Programmazione</a></li>
						<li><a class="dropdown-item" href="/accademia/varie">Varie</a></li>
					</ul>
				</li>
				<% } %>
				<!--Admin Panel-->
				<% if (auth && (isAdmin || checkPolicy(['manageruser', 'createuser']))) { %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">Pannello admin</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="/admin">Home admin</a></li>
						<% if (isAdmin || checkPolicy(['manageruser'])) { %>
						<li><a class="dropdown-item" href="/admin/users">Gestione utenti</a></li>
						<% }
							if (isAdmin || checkPolicy(['createuser'])) { %>
						<li><a class="dropdown-item" href="/auth/signup">Creazione utenti</a></li>
						<% } %>
					</ul>
				</li>
				<% } %>
			</ul>
			<!--Login or User-->
			<div class="d-none d-md-block">
				<ul class="navbar-nav ms-auto">
					<% if (auth) { %>
						<li class="nav-item dropdown ms-auto">
							<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"><%= username %></a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
								<li><a class="dropdown-item" href="/auth/settings/<%= userID %>">Impostazioni</a></li>
								<li><a class="dropdown-item" href="/auth/logout">Esci</a></li>
							</ul>
						</li>
					<% } else { %>
						<li class="nav-item ms-auto">
							<a class="nav-link" href="/auth/login">Login</a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</nav>