<ul>
    <li><a href="/">Home</a></li>
    <li>
        <a href="/arruolati">Arruolati</a>
        <ul>
            <li><a href="/arruolati/faq">FAQ</a></li>
            <li><a href="/arruolati/regolamento">Regolamento</a></li>
            <li><a href="/arruolati/progetto">Il Progetto</a></li>
        </ul>
    </li>
    <li>
        <a href="/news">Notizie</a>
        <ul>
            <li><a href="">Storico Eventi</a></li>
            <li><a href="">Rapporti</a></li>
            <li><a href="">SafeNet Radio</a></li>
            <li><a href="">Forum Navi</a></li>
        </ul>
    </li>
    <li>
        <a href="/accademia">Accademia</a>
        <ul>
            <li><a href="">Ingegneria</a></li>
            <li><a href="">Militare</a></li>
            <li><a href="">Tattica</a></li>
            <li><a href="">Programmazione</a></li>
            <li><a href="">Varie</a></li>
        </ul>
    </li>
</ul>