<link rel="stylesheet" href="/css/navbar.css">
<ul>
    <li><a href="/">Home</a></li>
    <li class="dropdown">
        <a href="/arruolati" class="dropbtn">Arruolati</a>
        <div class="dropdown-content">
            <a href="/arruolati/faq">FAQ</a>
            <a href="/arruolati/regolamento">Regolamento</a>
            <a href="/arruolati/progetto">Il Progetto</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="/news" class="dropbtn">Notizie</a>
        <div class="dropdown-content">
            <a href="/news/eventi">Storico Eventi</a>
            <a href="/news/rapporti">Rapporti</a>
            <a href="/news/safenet">SafeNet Radio</a>
            <a href="/news/navi">Forum Navi</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="/accademia" class="dropbtn">Accademia</a>
        <div class="dropdown-content">
            <a href="/accademia/ingegneria">Ingegneria</a>
            <a href="/accademia/militare">Militare</a>
            <a href="/accademia/tattica">Tattica</a>
            <a href="/accademia/scripts">Programmazione</a>
            <a href="/accademia/varie">Varie</a>
        </div>
    </li>
</ul>