<ul>
    <li><a href="/">Home</a></li>
    <li>
        <a href="/arruolati">Arruolati</a>
        <ul>
            <li><a href="/arruolati/faq">FAQ</a></li>
            <li><a href="/arruolati/regolamento">Regolamento</a></li>
            <li><a href="/arruolati/progetto">Il Progetto</a></li>
        </ul>
    </li>
    <li>
        <a href="/news">Notizie</a>
        <ul>
            <li><a href="/news/eventi">Storico Eventi</a></li>
            <li><a href="/news/rapporti">Rapporti</a></li>
            <li><a href="/news/safenet">SafeNet Radio</a></li>
            <li><a href="/news/navi">Forum Navi</a></li>
        </ul>
    </li>
    <li>
        <a href="/accademia">Accademia</a>
        <ul>
            <li><a href="/accademia/ingegneria">Ingegneria</a></li>
            <li><a href="/accademia/militare">Militare</a></li>
            <li><a href="/accademia/tattica">Tattica</a></li>
            <li><a href="/accademia/scripts">Programmazione</a></li>
            <li><a href="/accademia/varie">Varie</a></li>
        </ul>
    </li>
</ul>