<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>

  <p>Il BootCamp nasce nel 2018 da un'idea della Omicron66, una vecchia fazione capitanata da ExGold e Rikboom. <br />In seguito, seguendo il filo naturale dell'evoluzione, il progetto ha mirato ad addestrare nuovi giocatori alla cooperazione in gioco, nel contesto di un equipaggio militare.</p>
  <p>L'Obiettivo con il tempo si è evoluto, andando a creare una vera e propria realtà all'interno di un gioco Sandbox. Acquisendo sempre più popolarità, il BootCamp è diventato un progetto di riferimento per le community Italiane di Space Engineers, che molto spesso si basano sulle impostazioni delle nostre sessioni per elaborare realtà alternative.</p>
  <p>All'interno del progetto ogni membro vi tratterà con professionalità, cercando di mettervi a vostro agio, per tirar fuori il meglio di voi.</p>
  <p>Non è una Survival con gli amici, e ogni azione ha delle conseguenze sull'intero progetto.</p>
  
  <h2 style="text-align: center;">
    <strong>Comando di Flotta Attuale</strong>
  </h2>
  <p style="text-align: center;">
    <strong><br style="font-weight: bold;">Hyurex</strong>
    <br>Ammiraglio di Flotta
    <br>Assegnato alla S.J.C. Radetzky 
  </p>

  
  <p>
    Durante la vostra carriera nel BootCamp avrete la possibilità di darvi da fare per guadagnare delle promozioni. Per alcuni gradi sono necessari esami e abilitazioni, come spiegato nel
    <a href="/arruolati/regolamento">Regolamento</a>
    e nell'
    <a href="/accademia">Accademia</a>
    .
  </p>
  <p>Ogni grado guadagnato comporta privilegi ma soprattutto obblighi nei confronti del Comando e delle persone che eventualmente saranno assegnate a voi. Sarà quindi nostra cura prendere seriamente le promozioni che verranno comunicate, in quanto ci aspettiamo il più alto standard possibile dai nostri graduati.</p>
  <p>
    Potrete guadagnare nuovi gradi
    <strong>
      partecipando alle sessioni
    </strong>
    , guadagnando
    <strong>
      encomi
    </strong>
    <em>
      (assegnati dal tuo ufficiale comandante o dal Comando)
    </em>
    , 
    <strong>anzianità di servizio</strong> o <strong>superamento di esami</strong>.<br/><br/>
      Nelle tabelle sottostanti troverete le informazioni relative ai passaggi di grado. Ricordiamo inoltre che, qualora dovessero presentarsi particolari condizioni (comportamento, negligenza, insubordinazione, per citarne alcuni), l'ufficiale Comandante
    <strong>
      può negare
    </strong>
    il passaggio di grado.
  </p>
</body>
<%- include('../partials/footer.ejs') %>

</html>