<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>

<body style = "font-family: 'Liberation Serif';">
  <%- include('../partials/navbar.ejs') %>
  
  <!--Titolo-->
  <p dir="ltr" style="line-height: 1.0; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
    <strong style="font-size: 20pt;">- Regolamento Ufficiale -</strong>
    <br><br><br>
    <span style="font-size: 18pt; color: #ff0000; background-color: transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">
      L’adesione al regolamento è obbligatoria e si intende accettato con la partecipazione al progetto.</span>
  </p>
  <p style="text-align: center;">
    <span style="font-weight: 400;">
      La violazione di una o più regole a seguire comporterà sanzioni disciplinari, che possono andare da brevi sospensioni all’allontanamento forzato e definitivo.
    </span>
  </p>
  
  <!--Regole di Comportamento e Buona condotta-->
  <p style="text-align: lefth;">
    <span style="font-weight: bold;">
      Regole di Comportamento e Buona condotta
    </span>
  </p>
  <ol>
    <li>
      Rispetto verso ogni partecipante al progetto. 
    </li>
    <li>
      Qualsiasi atto di violenza, in ogni sua forma, verso terzi, verrà immediatamente punito con l’espulsione del progetto senza possibilità di reintegro.
    </li>
    <li>
      E’ istituita la gerarchia militare con i rispettivi gradi.
    </li>
    <li>
      Rispondere tempestivamente alle convocazioni ufficiali di eventi e sessioni.
      <ol type="a">
        <li>
          Le sessioni ufficiali sono annunciate con almeno 24 ore di preavviso.  
        </li> 
        <li>
          Sono richieste diligenza e serietà nel rispettare l’impegno preso.
        </li> 
        <li>
          La mancata risposta alle convocazioni ed assenza ingiustificata sono punite con l’allontanamento dal progetto.
        </li>  
      </ol>
    </li>
    <li>
      Durante le sessioni e nei canali dedicati vige il comportamento in ruolo RP.
      <ol type="a">
        <li>
          Durante le sessioni ci saranno momenti di riposo e svago.  
        </li> 
        <li>
          E’ sempre possibile ritirarsi nelle apposite aree per una pausa o congedo temporaneo.
        </li> 
      </ol>
    </li>
    <li>
      Le comunicazioni non sono libere e vige la regola del Permesso di Parlare (PTS).
      <ol type="a">
        <li>
          “PTS” seguito dal proprio nome, es. “PTS Gold” e si attende il permesso dell’ufficiale in comando.
        </li> 
        <li>
          Se dopo qualche minuto non avete ancora avuto il permesso, chiedetelo di nuovo come sopra.
        </li> 
      </ol>
    </li>
    <li>
      Qualsiasi reclamo inerente fatti eventi e comportamenti, verificatisi durante una sessione di gioco, va presentato in maniera adeguata al vostro superiore e/o al CdF, pur mantenendo il ruolo e negli appositi canali.
    </li>
  </ol>

    <!--Rigenerazione e Respawn-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        Rigenerazione e Respawn
      </span>
    </p>
    <ol>
      <li>
        Obbligo di portare con sé la propria matrice genetica (gen.ID).
      </li>
      <li>
        Se non in ibernazione, è obbligatorio fare il respawn presso la propria nave o la stazione indicata dal CdF.
      </li>
      <li>
        E’ possibile fare il respawn, a seguito di morte durante la sessione, solo in questi casi:
        <ol type="a">
          <li>
            Non UFFICIALI: La matrice genetica viene recuperata e portata presso un infermeria o survival kit entro cinque minuti dal decesso. Se ciò non avviene il giocatore è automaticamente congedato e deve lasciare sia la sessione che le comunicazioni. 
            <ol style="list-style-type:circle;">
              <li>
                Durante una MCU non si applica quanto descritto al punto A, il respawn di tutti verrà consentito con dopo un’attesa di 10 minuti.     
              </li>  
            </ol>
          </li> 
          <li>
            UFFICIALI: Gli ufficiali senza matrice genetica possono venire risequenziati dopo un’attesa di 20 minuti.
          </li> 
        </ol>
          <li>
            Può venir chiesto di identificarsi tramite la propria matrice genetica (gen.ID) in qualsiasi momento.
          </li>
    </ol>

    <!--Reparti-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        I Reparti
      </span>
    </p>
    <ol>
      <li>
        Sono istituiti i seguenti reparti: Reparto Ingegneria – Reparto Militare – Reparto Tattico.
        <ol type="a">
          <li>
            <span style="color: #ff0000;">Reparto Ingegneria:</span> Sistemi e Costruzioni (salvo eccezioni)
          </li> 
          <li>
            <span style="color: #0011ff;">Reparto Militare:</span> Armamenti e Fanteria (salvo eccezioni)
          </li> 
          <li>
            <span style="color: #ffee00;">Reparto Tattico:</span> Analisi, Navigazione e Burocrazia (salvo eccezioni)
          </li> 
        </ol>
      </li>
      <li>
        Raggiunto il grado di Mapc. ogni partecipante può scegliere il reparto presso il quale prestare servizio e prenderne l’uniforme secondo il colore di appartenenza.
        <ol type="a">
          E’ possibile far esperienza in uno o più reparti già dal grado di marinaio (Ma.).
        </ol>
      </li>
      <li>
        Ogni partecipante al progetto dovrà scegliere un reparto di appartenenza o gli verrà assegnato dal CdF.
      </li>
      <li>
        Gli equipaggi, le missioni ed ogni altro compito vengono assegnati e gestite secondo i reparti di competenza.
      </li>
    </ol>

    <!--Tabella Colori Equipaggio-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        Colore Tute
      </span>
      <ol>
        <li style="color: #ff0000;">
          Obbligo di adeguare il proprio colore della tuta con quello appartenente al proprio ruolo prima dell'inizio della sessione
        </li>
      </ol>
      <table class="table table-striped">
        <thead class="thead-dark">
            <tr class="bg-danger">
              <th scope="col">Grado</th>
              <th scope="col">Tuta</th>
              <th scope="col">HUE</th>
              <th scope="col">Saturazione</th>
              <th scope="col">Luminosita</th>
            </tr>
            <tbody>
              <tr>
                <th scope="row">Reclute e Marinai</th>
                <td>Standard</td>
                <td>####</td>
                <td>0%</td>
                <td>100%</td>
              </tr>
              <tr>
                <th scope="row">Reparto Ingegneria</th>
                <td>Standard</td>
                <td>4°</td>
                <td>100%</td>
                <td>50%</td>
              </tr>
              <tr>
                <th scope="row">Reparto Militare</th>
                <td>Standard</td>
                <td>####</td>
                <td>100%</td>
                <td>0%</td>
              </tr>
              <tr>
                <th scope="row">Reparto Tattico</th>
                <td>Standard</td>
                <td>230°</td>
                <td>100%</td>
                <td>0%</td>
              </tr>
              <tr>
                <th scope="row">Ufficiali</th>
                <td>Veteran mk.2</td>
                <td>####</td>
                <td>####</td>
                <td>####</td>
              </tr>
            </tbody>
        </thead>
      </table> 
    </p>
     
    <!--Accademia-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        Accademia e Carriera da ufficiali
      </span>
    </p>
    <ol>
      <li>
        Dal grado di Sottufficiale di Prima Classe (Supc.) si può far richiesta per essere inseriti nell’Accademia Navale (A.N.) come ospiti.
      </li>
      <li>
        L’iscrizione al corso dell’A.N. è condizionato da un esame preliminare di accesso all’accademia.
        <ol type="a">
          <li>
            E’ possibile sostenere l’esame in qualsiasi momento a discrezione del candidato. 
          </li> 
          <li>
            In caso di esito negativo, l’esame può essere ripetuto non prima di 30gg.
          </li>
          <li>
            Troverete maggiori info su corsi ed esami all’interno dell’accademia stessa.
          </li>  
        </ol>
      <li>
        Superare l’esame di fine corso dell’Accademia Navale conferisce il grado di Guardiamarina e avvia la carriera da Ufficiale del candidato.
      </li>
    </ol>

    <!--Protocolli Operativi-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        Protocolli Operativi
      </span>
    </p>
    <ol>
      <li>
        Nuovi protocolli operativi (P.O.) possono essere pubblicati ed integrati nel progetto.
      </li>
      <li>
        Le pubblicazioni vengono fatte sul sito ufficiale e ripetute su Discord.
      </li>
      <li>
        Le pubblicazioni devono essere note a tutti i membri.
      </li>
      <li>
        Un P.O. entra in vigore 48 ore dopo la sua pubblicazione.
      </li>
      <li>
        La sottoscrizione dei P.O. è obbligatoria e viene considerata accettata presentandosi alla sessione successiva la sua pubblicazione.
      </li>
    </ol>

  <!--Gestione delle presenze-->
  <p style="text-align: lefth;">
    <span style="font-weight: bold;">
      Gestione delle presenze
    </span>
  </p>
  <ol>
    <li>
      Le presenze in sessione ufficiali verranno prese 30 minuti dopo l’inizio dell’adunata ed aggiornate in caso di ritardatari per un massimo di altri 10 minuti “eccetto chi ha preventivamente giustificato nel modulo il ritardo” in questo caso basta partecipare un’ora alla sessione.
    </li>
    <li>
      Le presenze in MCU non verranno incluse direttamente nella media delle presenze, ma daranno diritto ad un bonus di 2,5 punti alla media delle presenza.
    </li>
    <li>
      Le assenze in sessione ufficiali sono riconosciute solo a chi si giustifica attraverso il modulo ed inficiano negativamente sulla media delle presenze.
    </li>
    <li>
      Le assenze non giustificate “mancata compilazione del modulo o giustificazione palesemente falsa”. Andranno a valere negativamente sulla media delle presenze oltre a rimuovere 10 punti dalla media delle presenze per ogni assenza non giustificata.
    </li>
    <li>
      Non presentarsi ad una sessione dopo aver dato la propria presenza nel modulo verrà visto allo stesso modo di una assenza non giustificata “in caso di impegno improvviso basta giustificarsi taggando un membro del comando su discord”.
    <li>
      Le assenze in MCU non penalizzano in alcun modo la media di presenze e non esiste alcuna differenza tra assenze giustificate e non giustificate.
    </li>
    <li>
      Dare la propria presenza alla MCU e poi non presentarsi senza dare una giustificazione valida  ha lo stesso valore di un’assenza non giustificata.
    </li>
    <li>
      Essere in licenza permette di non avere l’obbligo di compilare il modulo e di non venire conteggiate le assenze “La licenza non può durare più di un mese tranne in rare eccezioni”.
    </li>
    <li>
      La media presenze viene usata “non è l’unico indicatore” per valutare eventuali promozioni in caso di media superiore al 65% con un numero di presenze maggiore di 6. (più è alto il valore e maggiore sarà l’influenza sulla promozione).
    </li>
    <li>
      In caso di media presenze inferiore al 50% si potrebbe prendere in considerazione la possibilità di degrado del membro interessato.
    </li>
    <li>
      Se la media scende sotto il 30% per diverse sessioni il membro viene spostato automaticamente nel settore civile in caso delle reclute invece viene degradato in caso di membro graduato.
    </li>
  </ol>
  
  <p style="text-align: lefth;">
    <span style="font-weight: bold;">
      Funzionamento:
    </span>
  </p>
  <span>
    Per la conta delle assenze verrà usato un sistema automatizzato per la gestione delle presenze è la media di presenza verrà calcolata in base a la formula qui sotto che segue le regole spiegate sopra.  
  </span>
  <pre style="margin-bottom: 1.5em; line-height: 1.42857; text-align: center;">
    <em>
      <span style="font-weight: 600;">((Presenze Ufficiali/(Presenze Ufficiali + Assenze Totali)) * 100) - (10 * Assenze Non giustificate) + (2,5 * Presenze MCU)</span>
    </em>
  </pre>
  

</body>
<%- include('../partials/footer.ejs') %>

</html>