<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>

<body style = "font-family: 'Liberation Serif';">
  <%- include('../partials/navbar.ejs') %>
  
  <!--Titolo-->
  <p dir="ltr" style="line-height: 1.0; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
    <strong style="font-size: 20pt;">- Regolamento Ufficiale -</strong>
    <br><br><br>
    <span style="font-size: 18pt; color: #ff0000; background-color: transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">
      L’adesione al regolamento è obbligatoria e si intende accettato con la partecipazione al progetto.</span>
  </p>
  <p style="text-align: center;">
    <span style="font-weight: 400;">
      La violazione di una o più regole a seguire comporterà sanzioni disciplinari, che possono andare da brevi sospensioni all’allontanamento forzato e definitivo.
    </span>
  </p>
  
  <!--Regole di Comportamento e Buona condotta-->
  <p style="text-align: lefth;">
    <span style="font-weight: bold;">
      Regole di Comportamento e Buona condotta
    </span>
  </p>
  <ol>
    <li>
      Rispetto verso ogni partecipante al progetto. 
    </li>
    <li>
      Qualsiasi atto di violenza, in ogni sua forma, verso terzi, verrà immediatamente punito con l’espulsione del progetto senza possibilità di reintegro.
    </li>
    <li>
      E’ istituita la gerarchia militare con i rispettivi gradi.
    </li>
    <li>
      Rispondere tempestivamente alle convocazioni ufficiali di eventi e sessioni.
      <ol type="a">
        <li>
          Le sessioni ufficiali sono annunciate con almeno 24 ore di preavviso.  
        </li> 
        <li>
          Sono richieste diligenza e serietà nel rispettare l’impegno preso.
        </li> 
        <li>
          La mancata risposta alle convocazioni ed assenza ingiustificata sono punite con l’allontanamento dal progetto.
        </li>  
      </ol>
    </li>
    <li>
      Durante le sessioni e nei canali dedicati vige il comportamento in ruolo RP.
      <ol type="a">
        <li>
          Durante le sessioni ci saranno momenti di riposo e svago.  
        </li> 
        <li>
          E’ sempre possibile ritirarsi nelle apposite aree per una pausa o congedo temporaneo.
        </li> 
      </ol>
    </li>
    <li>
      Le comunicazioni non sono libere e vige la regola del Permesso di Parlare (PTS).
      <ol type="a">
        <li>
          “PTS” seguito dal proprio nome, es. “PTS Gold” e si attende il permesso dell’ufficiale in comando.
        </li> 
        <li>
          Se dopo qualche minuto non avete ancora avuto il permesso, chiedetelo di nuovo come sopra.
        </li> 
      </ol>
    </li>
    <li>
      Qualsiasi reclamo inerente fatti eventi e comportamenti, verificatisi durante una sessione di gioco, va presentato in maniera adeguata al vostro superiore e/o al CdF, pur mantenendo il ruolo e negli appositi canali.
    </li>
  </ol>

    <!--Rigenerazione e Respawn-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        Rigenerazione e Respawn
      </span>
    </p>
    <ol>
      <li>
        Obbligo di portare con sé la propria matrice genetica (gen.ID).
      </li>
      <li>
        Se non in ibernazione, è obbligatorio fare il respawn presso la propria nave o la stazione indicata dal CdF.
      </li>
      <li>
        E’ possibile fare il respawn, a seguito di morte durante la sessione, solo in questi casi:
        <ol type="a">
          <li>
            Non UFFICIALI: La matrice genetica viene recuperata e portata presso un infermeria o survival kit entro cinque minuti dal decesso. Se ciò non avviene il giocatore è automaticamente congedato e deve lasciare sia la sessione che le comunicazioni. 
            <ol style="list-style-type:circle;">
              <li>
                Durante una MCU non si applica quanto descritto al punto A, il respawn di tutti verrà consentito con dopo un’attesa di 10 minuti.     
              </li>  
            </ol>
          </li> 
          <li>
            UFFICIALI: Gli ufficiali senza matrice genetica possono venire risequenziati dopo un’attesa di 20 minuti.
          </li> 
        </ol>
          <li>
            Può venir chiesto di identificarsi tramite la propria matrice genetica (gen.ID) in qualsiasi momento.
          </li>
    </ol>

    <!--Reparti-->
    <p style="text-align: lefth;">
      <span style="font-weight: bold;">
        I Reparti
      </span>
    </p>
    <ol>
      <li>
        Sono istituiti i seguenti reparti: Reparto Ingegneria – Reparto Militare – Reparto Tattico.
        <ol type="a">
          <li>
            Reparto Ingegneria: Sistemi e Costruzioni (salvo eccezioni)
          </li> 
          <li>
            Reparto Militare: Armamenti e Fanteria (salvo eccezioni)
          </li> 
          <li>
            Reparto Tattico: Analisi, Navigazione e Burocrazia (salvo eccezioni)
          </li> 
        </ol>
      </li>
      <li>
        Raggiunto il grado di Mapc. ogni partecipante può scegliere il reparto presso il quale prestare servizio e prenderne l’uniforme secondo il colore di appartenenza.
        <ol type="a">
          E’ possibile far esperienza in uno o più reparti già dal grado di marinaio (Ma.).
        </ol>
      </li>
      <li>
        Ogni partecipante al progetto dovrà scegliere un reparto di appartenenza o gli verrà assegnato dal CdF.
      </li>
      <li>
        Gli equipaggi, le missioni ed ogni altro compito vengono assegnati e gestite secondo i reparti di competenza.
      </li>
        
      
    </ol>

</body>
<%- include('../partials/footer.ejs') %>

</html>