<!DOCTYPE html>
<html lang="it">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <strong>- Regolamento Ufficiale -</strong>
  <strong> Progetto Bootcamp </strong>
  <p dir="ltr" style="line-height: 1.0; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
    <span style="font-size: 18pt; font-family: 'Liberation Serif'; color: #ff0000; background-color: transparent; font-weight: bold; font-style: normal; font-variant: normal; text-decoration: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">
      L’adesione al regolamento è obbligatoria e si intende accettato con la partecipazione al progetto.
    </span>
  </p>
  <p style="text-align: center;">
    <span style="font-weight: 400;">
      La violazione di una o più regole a seguire comporterà sanzioni disciplinari, che possono andare da brevi sospensioni all’allontanamento forzato e definitivo.
    </span>
  </p>
</body>
<%- include('../partials/footer.ejs') %>

</html>