<!DOCTYPE html>
<html lang="it">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <h1><%= title %></h1>
</body>
<%- include('./partials/footer.ejs') %>

</html>