::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: var(--bs-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--bs-gray);
	border: .25em solid var(--bs-dark);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--bs-light);
}

body {
	width: 100%;
	--bs-body-bg: var(--bs-gray-dark) !important;
	--bs-body-color: var(--bs-light) !important;

	--bc-ingegneria: hsl(4, 100%, 50%);
	--bc-militare: hsl(230, 100%, 50%);
	--bc-tattico: hsl(56, 100%, 50%);
}
