/* Bordered form */
body {
	text-align: center;
}

form {
	width: 50%;
	border: 10px solid #f1f1f1;
	align-content: center;
	display: inline-block;
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 18px;
}

select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

option {
	display: inline-block;
	background-color: #f9f9f9;
	padding: 12px 20px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 0;
}

label {
	font-size: 18px;
}

/* Set a style for all buttons */
button {
	background-color: #04aa6d;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	text-align: center;
	text-size-adjust: auto;
	width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
	padding: 16px;
}

/* The "Forgot password" text */
span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

#login-feedback {
	color: red;
	font-style: bold;
}


#signup-feedback {
	color: red;
	font-style: bold;
	white-space: pre-line;
}

form i {
	margin-left: -30px;
	cursor: pointer;
}