<!DOCTYPE html>
<html lang="it">
	<%- include('../partials/header.ejs') %>
	<script src="/JQuery/compilerMD.jq" defer></script>

	<body class="">
		<%- include('../partials/navbar.ejs') %>
		<h1><%= title %></h1>
        <div class="container">
            <textarea name="text" id="myEditor"># Test</textarea>
        </div>
	</body>
	<%- include('../partials/footer.ejs') %>
</html>
